---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

*Note: “#” indicates equal contribution.*

### 2025

1. Ethan French, **Xianqi Deng**, Siqi Chen, Cheng-Wei Ju, Xi Cheng, Lijun Zhang, Xiao Liu, Hui Guan, Zhou Lin
   *Revolutionizing Spectroscopic Analysis Using Sequence-to-Sequence Models I: From Infrared Spectra to Molecular Structures*.  
   Under revision at ***Journal of the American Chemical Society***.  
   ChemRxiv: [2025-n4q84](https://chemrxiv.org/engage/chemrxiv/article-details/67f601ef81d2151a029f5a2e)

3. Elham Sadeghi, **Xianqi Deng**, I Lin, Stacy M Copp, Petko Bogdanov 
   *Property-Isometric Variational Autoencoders for Sequence Modeling and Design*.  
   Submitted to ***ICASSP 2026***. arXiv: [2509.14287](https://arxiv.org/abs/2509.14287)

### 2024

1. Siqi Chen#, Zhiqiang Wang#, **Xianqi Deng#**, Yili Shen#, Cheng-Wei Ju, Jun Yi, Lin Xiong, Guo Ling, Dieaa Alhmoud, Hui Guan, Zhou Lin
   *Integrating Graph Neural Networks and Many-Body Expansion Theory for Potential Energy Surfaces*.  
   ***NeurIPS 2024 AI4Mat Workshop (Spotlight)***. arXiv: [2411.01578](https://arxiv.org/abs/2411.01578)


<!--
{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



